<p id="notice"><%= notice %></p>

<h1>Listing Keywords</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.title %></td>
        <td><%= link_to 'Show', keyword %></td>
        <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword', new_keyword_path %>

<h2>Import Keywords</h2>

<%= form_tag import_keywords_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<ul>
  <% @results.each do |result| %>
    <li>
      <% title = simple_format result.title %>
      <h3><%= link_to title, result.uri, target: "_blank" %></h3>
      <p><%= simple_format result.content %></p>
    </li>
  <% end %>
</ul>



